
body {

  background-color: #E2FFF9

  }

.titleBox{
  text-align: center;
  margin: 5px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #CEF1F0;
}

#wrapper {

  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;

}
#articles {

  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  border: solid black 1px;
}

.articleLI{
  margin: 5px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #CEF1F0;
}
#comments {

  float: right;
  width: 30%;

}
textarea, input {

  display: block;
  width: 100%;
  background-color: #CEF1F0;

}
input {

  height: 36px;
  font-size: 24px;

}
textarea {

  height: 200px;
  font-size: 18px;

}
