
body {

  background-color: #F7ECDB

  }

.titleBox{
  text-align: center;
  margin: 5px;
  border: solid #6F6859 1px;
  border-radius: 10px;
  background-color: #E6DCCC;
  color: #F7C32E;
  text-shadow:  2px 1.5px #A05700;
}

#wrapper {

  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5%;

}
#articles {
  display: inline-block;
}

.articleLI{
  float: left;
  width: 48%;
  height: 300px;
  margin: 5px;
  padding: 5px;
  border: solid #6F6859 1px;
  border-radius: 10px;
  background-color: #E6DCCC;
}

.articleLI p{
  overflow-y: auto;
}

.articleTitle{
  border:solid #6F6859 1px;
  border-radius: 10px;
  background-color: #C5B898;
  padding: 5px;

}

a:link {
  color: #FFD564;
  text-shadow:  1.5px 1.5px #A05700;
}

a.articleTitle:visited {
  color: #F97429;
  text-shadow:  1.5px 1.5px #A05700;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#comments {

  float: right;
  width: 30%;

}
textarea, input {

  display: block;
  width: 100%;
  background-color: #C5B898;

}
input {

  height: 36px;
  font-size: 24px;

}
textarea {

  height: 200px;
  font-size: 18px;

}
